<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Café Aroma</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>

    <div class="logo-container">

        <img src="/static/img/Logo.png">

        <h1>Café Aroma</h1>

    </div>

<nav>
    <a href="#inicio">Inicio</a>
    <a href="#menu">Menú</a>
    <a href="#delivery">Delivery</a>
    <a href="#contacto">Contacto</a>

</nav>

</header>

    <section class="hero" id="inicio">

    <video autoplay muted loop playsinline class="video-fondo">

        <source src="{{ url_for('static', filename='video/cafe.mp4') }}" type="video/mp4">

    </video>

    <div class="overlay"></div>

    <div class="hero-content">

        <h2>El mejor café para empezar tu día</h2>

        <p>
            Disfruta bebidas calientes, postres y un ambiente acogedor.
        </p>

        <button>Ver menú</button>
    </div>
    </section>

    <section class="menu" id="menu">
        <h2>Nuestra Carta</h2>

        <div class="cards">
            <div class="card">
                <img src="{{ url_for('static', filename='img/cafeamericano.png') }}">
                <h3>Café Americano</h3>
                <p>Café clásico, intenso y aromático.</p>
                <span>S/ 8.00</span>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='img/capuccino.png')}}">
                <h3>Capuccino</h3>
                <p>Espuma cremosa con sabor suave.</p>
                <span>S/ 10.00</span>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='img/cheesecakereal.jpg') }}">
                <h3>Cheesecake</h3>
                <p>Postre dulce ideal para acompañar tu café.</p>
                <span>S/ 12.00</span>
            </div>
            <div class="card">
    <img src="/static/img/crema_volteada.jpg">
    <h3>Crema volteada</h3>
    <p>Tradicional postre casero con suave textura y delicioso caramelo.</p>
    <span>S/ 9.00</span>
</div>

<div class="card">
    <img src="/static/img/Tiramisu_2.png">
    <h3>Tiramisú</h3>
    <p>Postre italiano elaborado con café, crema y cacao.</p>
    <span>S/ 14.00</span>
</div>

<div class="card">
    <img src="/static/img/croissant_jamon_queso.jpg">
    <h3>Croissant de Jamón y Queso</h3>
    <p>Hojaldre crujiente ideal para acompañar cualquier bebida.</p>
    <span>S/ 7.00</span>
</div>
<div class="card">
    <img src="/static/img/caramel_latte.jpg">
    <h3>Caramel Latte</h3>
    <p>Suave combinación de café espresso, leche cremosa y caramelo dulce, ideal para quienes buscan una bebida equilibrada y reconfortante.</p>
    <span>S/ 13.00</span>
</div>
<div class="card">
    <img src="/static/img/matcha_latte.jpg">
    <h3>Matcha Latte</h3>
    <p>Bebida preparada con té matcha premium y leche espumosa, ofreciendo un sabor delicado y una experiencia diferente y refrescante.</p>
    <span>S/ 15.00</span>
</div>
        </div>
    </section>
    <section class="delivery" id="delivery">
    <div class="delivery-title">
        <h2>Pedido Delivery</h2>
        <p>Selecciona tus productos favoritos y completa tus datos de pago.</p>
    </div>

    <div class="delivery-container">

        <form class="payment-box" action="/pedido" method="POST">
            <h3>Datos de entrega</h3>

            <input type="text" name="nombre" placeholder="Nombre completo" required>
            <input type="text" name="direccion" placeholder="Dirección de entrega" required>
            <input type="tel" name="celular" placeholder="Número de celular" required>

            <h3>Producto</h3>

         <select name="producto" required>
           <option value="Café Americano|8">Café Americano - S/ 8.00</option>
           <option value="Capuccino|10">Capuccino - S/ 10.00</option>
           <option value="Cheesecake|12">Cheesecake - S/ 12.00</option>
           <option value="Crema Volteada|9">Crema Volteada - S/ 9.00</option>
           <option value="Tiramisú|14">Tiramisú - S/ 14.00</option>
           <option value="Croissant de Jamón y Queso|7">Croissant de Jamón y Queso - S/ 7.00</option>
           <option value="Caramel Latte|13">Caramel Latte - S/ 13.00</option>
           <option value="Matcha Latte|15">Matcha Latte - S/ 15.00</option>
         </select>

            <h3>Método de pago</h3>

            <select name="pago">
                <option>Yape</option>
                <option>Plin</option>
                <option>Tarjeta</option>
                <option>Efectivo</option>
            </select>

            <button type="submit">Confirmar pedido</button>
        </form>

    </div>
</section>
<section class="horarios">
    <h2>Horarios de Atención</h2>

    <div class="horario-box">
        <p><strong>Lunes a Viernes:</strong> 8:00 am - 10:00 pm</p>
        <p><strong>Sábados:</strong> 9:00 am - 11:00 pm</p>
        <p><strong>Domingos:</strong> 9:00 am - 8:00 pm</p>
    </div>
</section>
<section class="galeria">
    <h2>Galería</h2>

    <div class="galeria-grid">
        <img src="/static/img/cafeteria.jpg">
        <img src="/static/img/cafeteria2.jpg">
        <img src="/static/img/cafeteria3.jpg">
    </div>
</section>
<section class="experiencia">

    <h2>Nuestra Experiencia</h2>

    <p>
        En Café Aroma nos comprometemos a brindar una experiencia única en cada visita.
        Seleccionamos cuidadosamente nuestros ingredientes para garantizar bebidas y postres
        de la más alta calidad. Nuestro objetivo es ofrecer un ambiente cálido, acogedor y
        perfecto para compartir momentos especiales con amigos, familiares o disfrutar de un
        momento de tranquilidad acompañado de un excelente café.
    </p>

</section>
<section class="ubicacion">
    <h2>Ubicación</h2>

    <p>Visítanos en Av. Los Cafetos 123, Lima.</p>

    <iframe
        src="https://www.google.com/maps?q=Miraflores%20Lima%20Peru&output=embed"
        width="100%"
        height="350"
        style="border:0;"
        loading="lazy">
    </iframe>
</section>
<section class="reviews">

    <div class="reviews-title">

        <h2>Opiniones de Clientes</h2>

    </div>

    <div class="cards">

        <div class="card">
            <h3>★★★★★</h3>

            <p>
                El mejor café que probé en Lima. El ambiente es tranquilo y muy acogedor.
            </p>
        </div>

        <div class="card">
            <h3>★★★★★</h3>

            <p>
                Excelente atención y postres deliciosos. Definitivamente volvería otra vez.
            </p>
        </div>
        <div class="opinion-box">

    <h3>Comparte tu experiencia</h3>

    <textarea placeholder="Déjanos tu opinión sobre nuestro café, atención o ambiente..."></textarea>

    <button>Enviar opinión</button>

</div>

    </div>

</section>

    <section class="contacto" id="contacto">
        <h2>Contáctanos</h2>
        <p>📍 Miraflores 181 Av Los cafetos, Lima </p>
        <p>📞 +51 999 888 777</p>
    </section>

    <footer>

    <p>© 2026 Café Aroma | Síguenos en Instagram y Facebook</p>

</footer>

</body>
</html>